<<<<<<< HEAD
splitScreen  {
    display: 'flex';
    flex-direction: 'row';
}
topPane{
    width: '50%',
}
bottomPane{
    width: '50%',
=======
*{
  margin: 0;
}
.container{
  display: flex;
}
.client{
  width: 50%;
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.server{
  width: 50%;
  height: 100vh;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
>>>>>>> ed17c9e95bb7939b498edb195252b6440a765712
}